.sp_QApHbiQcE4h{background-image:url(/rsrc.php/v3/y-/r/FGdKxLbmkxs.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_QApHbiQcE4h.sx_d2938f{background-position:0 0}.sp_QApHbiQcE4h.sx_fe43e3{background-position:0 -17px}.sp_QApHbiQcE4h.sx_6f7df5{background-position:0 -34px}

#bootloader_aYAbb{height:42px;}.bootloader_aYAbb{display:block!important;}