._6fh{border:0;display:inline-block;overflow:hidden;position:relative}._6fh img{background:#f2f2f2 no-repeat 50% 50%;display:inline-block;max-height:168px;max-width:300px}._6fj{background:#1d2129;height:80px;text-align:center;width:140px}._6fh i{background:url(/rsrc.php/v3/yR/r/uBvpUP-IS0c.png);background-size:100% auto;height:36px;left:50%;margin:-18px 0 0 -18px;position:absolute;top:50%;width:36px}
._8rg{background:#fff;font-family:helvetica, arial, sans-serif;padding:0;position:relative}

#bootloader_iWrm0{height:42px;}.bootloader_iWrm0{display:block!important;}